dist/
dist-lib/
dist-wc/
dist-ui/
coverage/
main

node_modules
__debug_bin
/bin
.vscode/
.eslintcache
.nx 

# IDE - IntelliJ
.idea/
*.iml
.DS_Store


*.pnp.*

# misc
**/.angular/*

# local env config
**/.env
**/.secrets
.secret/

iam-ui.tar.gz
iam-wc.tar.gz

# yalc
/.yalc/
/yalc.lock


TEST-frontend.xml
