<app-dashboard-sidebar-item
  title="Members"
  [loading]="loading"
  [rolesAllowedForCallback]="rolesAllowedForEdit"
  (editCallback)="navigateToMembers()"
>
  <div class="members">
    <fd-avatar-group overflowPopoverTitle="Members2" size="xs">
      @for (member of members; track member.userId) {
        <iam-avatar
          *fdAvatarGroupItem="
            details;
            title: member.firstName + ' ' + member.lastName
          "
          size="xs"
          [disablePopover]="true"
          [user]="member"
        />

        <ng-template #details>
          <fd-quick-view [id]="member.userId!">
            <fd-quick-view-subheader
              style="display: block; padding-top: 1rem"
              [id]="member.userId + '-popover-subheader'"
            >
              <fd-avatar
                alterIcon="content|default-icon"
                role="img"
                size="xs"
                [ariaLabel]="
                  member.firstName + ' ' + member.lastName + ' avatar'
                "
                [circle]="true"
                [clickable]="true"
                [colorAccent]="6"
                [image]="getUserAvatarImgUrl(member) | async"
                [label]="member.firstName + ' ' + member.lastName"
                [title]="member.firstName + ' ' + member.lastName"
                (avatarClicked)="navigateToUser(member.userId!)"
              />
              <fd-quick-view-subheader-title
                ><span
                  style="cursor: pointer"
                  (click)="navigateToUser(member.userId!)"
                  >{{ member.firstName }} {{ member.lastName }}</span
                ></fd-quick-view-subheader-title
              >
            </fd-quick-view-subheader>

            <fd-quick-view-group
              style="display: block; padding: 1rem"
              [attr.aria-labelledby]="member.userId + '-group-title'"
            >
              <fd-quick-view-group-title [id]="member.userId + '-group-title'"
                >Contact Details
              </fd-quick-view-group-title>

              @if (member.email) {
                <fd-quick-view-group-item>
                  <fd-quick-view-group-item-label
                    >Email</fd-quick-view-group-item-label
                  >
                  <fd-quick-view-group-item-content>
                    <a fd-link [href]="'mailto:' + member.email">{{
                      member.email
                    }}</a>
                  </fd-quick-view-group-item-content>
                </fd-quick-view-group-item>
              }
            </fd-quick-view-group>
          </fd-quick-view>
        </ng-template>
      }
    </fd-avatar-group>
  </div>
</app-dashboard-sidebar-item>
